/* ----- Google fonts ----- */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

/* ----- Variables CSS ------ */

:root {
  /* Colors */
  --first-color: white;
  --second-color: black;

  /* -- Fonts and Typhography */
  /* .5rem = 8px | 1rem = 16px | 1.5rem = 24px*/
  --body-font: "Nunito", sans-serif; /* Font Family */
  --biggest-font: 2.3rem;
  --productsName-font: 1.3rem;
  --normal-font-size: 0.9rem;
  --smaller-font-size: 0.75rem;

  --big-font: 1.75rem;
}

/* ----- Responsive Typhography ----- */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ----- Reusable CSS Class ------ */
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}



body {
  font-family: var(--body-font);

}

a { 
  text-decoration: none;
  color: var(--second-color);
  font-size: var(--normal-font-size);
}

/* ----- Header ------ */
header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  padding: 1rem;
}

.menu li {
  padding: 0.3rem;
}

.menu li a:hover { 
  background-color: var(--second-color);
  color: var(--first-color);
  border-radius: 10%;
  padding: 0.3rem;
}

.menu a { 
  font-size: var(--normal-font-size);
  text-decoration: none;
  color: var(--second-color);
}

header h1 {
  font-weight: 700;
}

.icon-menu ul {
  display: flex;
}

.icon-menu li {
  padding: 0.75rem;
  cursor: pointer;
}

.icon-menu li:hover { 
  background-color: var(--second-color);
  color: var(--first-color);
  border-radius: 50%;
}


/* ------ Main ------- */
/* especial-product*/

.especial-product { 
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

}

.especial-img-carousel{ 

}

.especial-img-carousel img { 
  width: 100%;
  max-height: 450px;
  max-width: 650px;
}

.especial-product-div { 
  width: 60%;
  text-align: justify;
  margin-top: 2rem;


}

.especial-product-name { 
  font-size: var(--biggest-font);
  color: var(var(--first-color));
  padding-bottom: .65rem;
}

.especial-product-descr { 
  font-size: var(--normal-font-size);
  line-height: 1.2;
  padding-bottom: .65rem;
}

.purchase-especial { 
  position: relative;
  top: 1rem;
  padding: .65rem;
  background-color: var(--second-color);
  color: var(--first-color);
  border-radius: 50%;
}

.batedeira { 
  display: none;
}

/* Other Products */
.center-products { 
  display: flex;
  position: relative;
  top: 8rem;
  justify-content: center;
  flex-flow: column nowrap;
  margin-bottom: 4rem;
}

.center-products h1 { 
  color: var(--second-color);
  font-size: var(--biggest-font);
  text-align: center;
  font-weight: 600;  
}
.products { 
  position: relative;
  top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 1fr);
  column-gap: .5rem;
  row-gap: 2rem;
  overflow: hidden;
  padding-bottom: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  grid-auto-rows: 1fr;
}

.product { 
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.product-details { 
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

.product-name { 
  padding: .5rem;
  font-size: var(--productsName-font);
  letter-spacing: .8px;
}

.product-price { 
  padding: .5rem;
}


.product-purchase{ 
  margin-top: .5rem;
  padding: .65rem;
  background-color: var(--second-color);
  color: var(--first-color);
  border-radius: 10%;
}
.img-carousel { 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-carousel img { 
  min-width: 75%;
  max-width: 90%;
}

/* ------ Footer ------ */

footer { 
  height: 4rem;
  background-color: var(--second-color);
  position: relative;
  top: 8rem;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 520px) {

  .menu, .icon-menu { 
    display: none;
  }

  header { 
    justify-content: center;
    align-items: center;
  }

  header h1 { 
    font-weight: 700;
  }

  .especial-product { 
    position: relative;
    top: -5rem;
  }

  .especial-product-name{ 
    font-size: var(--big-font)
  }

  .especial-product-div  {
    margin-top: 3rem;
    width: 80%;

  }

  .purchase-especial { 
    top: 2rem;
  }

  .especial-img-carousel img { 
    margin-top: 3rem;
  }

  .center-products { 
    top: 2rem;
  }

  .products { 
    grid-template-columns: 100%;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {

}

/* For large devices */
@media screen and (min-width: 1024px) {
  .products { 
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1524px) {
  .products { 
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body { 
    zoom: 1.5;
  }

  .especial-product { 
    position: relative;
    top: -15rem;
  }

  .center-products { 
    top: -25rem;

  }

  .products { 
    grid-template-rows: 1fr;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body { 
    zoom: 2.3;
  }

  .especial-product { 
    position: relative;
    top: -35rem;
  }

  .center-products { 
    top: -65rem;

  }
}
